@{layout('')}
@{title('NoSQL embedded database')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min@15.css" />
	<script src="//cdn.componentator.com/spa.min@15.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body data-jc="exec">

	<div data-jc="LAZY confirm"></div>
	<div data-jc="loading" class="hidden"></div>

	<div class="padding" style="padding-bottom:0">
		<nav class="toolbar" data-bind="browser.rows__show .filled:value instanceof Array">
			<div class="hidden info filled">
				<span data-bind="browser.filename__text:value"></span> / <b data-bind="browser.rows__!html:value.length.pluralize(@('# documents', '# document', '# documents', '# documents'))"></b>
			</div>
			<button name="open" data-jc="filebrowser__null__exec:browser/process"><i class="fa fa-folder-o"></i>@(Open)</button>
			<button name="save" class="hidden filled exec" data-exec="browser/save"><i class="fa fa-floppy-o"></i>@(Save)</button>
			<span></span>
			<button name="remove" class="hidden filled exec" data-bind="browser.checked__show:value && value.length > 0" data-exec="browser/remove"><i class="fa fa-times-circle"></i>@(Remove rows)</button>
		</nav>
	</div>

	<div data-jc="dragdropfiles__null__exec:browser/process" class="dragdrop" data-bind="browser.rows__show:value == null"><div><i class="fa fa-database fa-3x"></i><br /><br />@(<b>Drag &amp; Drop</b><br />NoSQL embedded database)</div></div>

	<div class="padding" data-bind="browser.rows__show:value != null" style="padding-top:0">
		<div data-jc="datagrid__browser.rows__click:browser/detail;colwidth:180;checked:browser.checked"></div>
	</div>

	<div data-jc="panel__common.panel__if:detail;icon:box;title:Document editor;width:400;background:false">
		<div class="padding">
			<div data-jc="objecteditor__browser.detail__skip:ROW" class="m"></div>
			<div class="row">
				<div class="col-xs-8 m" data-jc="validation__browser.detail">
					<button name="submit" class="button button-small b exec" data-exec="browser/update" disabled><i class="fa fa-check-circle"></i>@(Update data)</button>
				</div>
				<div class="col-xs-4 m">
					<button class="button button-small button-silver b exec" data-exec="browser/cancel">@(Cancel)</button>
				</div>
			</div>
		</div>
	</div>

	<script>

		PLUGIN('browser', function(exports) {

			var rescape = /[|\n\r]/g;
			var runescape = /%7C|%0D|%0A/g;

			exports.detail = function(row) {
				SET('browser.detail', CLONE(row), true);
				SET('common.panel', 'detail');
			};

			exports.cancel = function() {
				SET('common.panel', '');
			};

			exports.update = function() {
				SET('common.panel', '');
				var index = browser.rows.findIndex('ROW', browser.detail.ROW);
				if (index !== -1) {
					browser.rows[index] = browser.detail;
					exports.element.SETTER('datagrid', 'refresh');
				}
			};

			exports.remove = function() {
				SETTER('confirm', 'show', '@(Are you sure you want to removed selected rows?)', ['"trash-o" @(Yes)', '@(Cancel)'], function(index) {

					if (index === 1)
						return;

					SETTER('loading', 'show');
					browser.checked.wait(function(row, next) {
						var index = browser.rows.indexOf(row);
						if (index !== -1)
							browser.rows.splice(index, 1);
						setTimeout(next, 10);
					}, function() {
						UPDATE('browser.rows');
						SETTER('loading', 'hide', 1000);
					});

				});
			};

			exports.save = function() {

				var REGBOOL = /":true/g;
				var JSONBOOL = '":true ';
				var rows = browser.rows;
				var data = [];

				if (browser.schema) {
					var tmp = '';
					for (var i = 0; i < browser.schema.length; i++) {
						var meta = browser.schema[i];
						tmp += (tmp ? '|' : '') + meta.name + ':' + meta.type;
					}
					data.push(tmp);
				}

				for (var i = 0; i < rows.length; i++) {
					var row = CLONE(rows[i]);
					row.ROW = undefined;
					if (browser.schema)
						data.push(exports.stringifyTable(browser.schema, row));
					else
						data.push(JSON.stringify(row).replace(REGBOOL, JSONBOOL));
				}

				data.push('');

				var file = new File([data.join('\n')], browser.filename, { type: 'text/plain;charset=utf-8' });
				saveAs(file);
			};

			exports.process = function(files) {
				var reader = new FileReader();
				reader.onload = function() {

					if ((/\.table$/).test(browser.filename))
						exports.parseTable(reader.result);
					else
						exports.parse(reader.result);

					reader = null;
				};

				SET('browser.filename', files[0].name);
				reader.readAsText(files[0]);
			};

			exports.parse = function(data) {
				var lines = data.split('\n');
				var tmp = {};
				var cols = [];
				var rows = [];

				for (var i = 0; i < lines.length; i++) {
					var line = lines[i].trim();

					// Removed item
					if (!line || line.substring[0] === '-')
						continue;

					var doc;

					try {
						doc = PARSE(line);
					} catch (e) {
						continue;
					}

					if (doc == null)
						continue;

					var keys = Object.keys(doc);

					for (var j = 0; j < keys.length; j++) {
						var key = keys[j];
						if (tmp[key])
							continue;
						tmp[key] = 1;
						var col = {};
						col.name = key;
						col.alignheader = 'center';
						col.alignfilter = 'center';
						col.template = '{{ {0} | nosqlrender }}'.format(key);
						cols.push(col);
					}

					rows.push(doc);
				}

				SET('browser.schema', null);
				exports.refresh(rows, cols);
			};

			exports.parseTableSchema = function(row) {
				var schema = [];
				row.split('|').forEach(function(item) {
					var a = item.split(':');
					schema.push({ name: a[0].trim(), type: a[1].trim() });
				});
				return schema;
			};

			exports.parseTableRow = function(schema, row) {

				var obj = {};

				for (var i = 0; i < schema.length; i++) {
					var data = row.split('|');
					var meta = schema[i];
					var encode = data[0] === '*';
					var val = data[i + 1];
					switch (meta.type) {
						case 'string':
							if (encode && val)
								val = val.replace(runescape, exports.unescape);
							break;
						case 'number':
							val = +val;
							break;
						case 'boolean':
							val = val === '1' || val === 'true' || val === 'on';
							break;
						case 'date':
							val = val ? new Date(val) : null;
							break;
						case 'object':
							val = val ? PARSE(encode ? val.replace(runescape, exports.unescape) : val) : null;
							break;
					}
					obj[meta.name] = val;
				}

				return obj;
			};

			exports.parseTable = function(data) {

				var lines = data.split('\n');
				var cols = [];
				var rows = [];

				var schema = exports.parseTableSchema(lines[0]);

				for (var j = 0; j < schema.length; j++) {
					var col = {};
					col.name = schema[j].name;
					col.alignheader = 'center';
					col.alignfilter = 'center';
					col.template = '{{ {0} | nosqlrender }}'.format(col.name);
					cols.push(col);
				}

				for (var i = 1; i < lines.length; i++) {
					var line = lines[i].trim();

					// Removed item
					if (!line || line.substring[0] === '-')
						continue;

					var doc = exports.parseTableRow(schema, line);
					rows.push(doc);
				}

				SET('browser.schema', schema);
				exports.refresh(rows, cols);
			};

			exports.stringifyTable = function(schema, row) {
				var data = '';
				var plus = '+';

				for (var i = 0; i < schema.length; i++) {
					var meta = schema[i];
					var val = row[meta.name];
					switch (meta.type) {
						case 'string':
							val = val ? val : '';
							if (val && rescape.test(val)) {
								plus = '*';
								val = val.replace(rescape, exports.escape);
							}
							break;
						case 'number':
							val = (val || 0);
							break;
						case 'boolean':
							val = val === true ? '1' : '0';
							break;
						case 'date':
							val = val ? val.toISOString() : '';
							break;
						case 'object':
							val = val ? JSON.stringify(val) : '';
							if (val && rescape.test(val)) {
								plus = '*';
								val = val.replace(rescape, exports.escape);
							}
							break;
					}
					data += '|' + val;
				}

				return plus + data;
			};

			exports.refresh = function(rows, cols) {
				FIND('datagrid', function(com) {
					com.rebind(cols);
					com.set(rows);
				});
				SET('browser.checked', EMPTYARRAY);
				SET('common.panel', '');
				AJAX('POST /api/stats/', { filename: browser.filename, rows: rows.length, cols: cols.length });
			};

			exports.unescape = function(c) {
				switch (c) {
					case '%0A':
						return '\n';
					case '%0D':
						return '\r';
					case '%7C':
						return '|';
				}
				return c;
			};

			exports.escape = function(c) {
				switch (c) {
					case '\n':
						return '%0A';
					case '\r':
						return '%0D';
					case '|':
						return '%7C';
				}
				return c;
			};

		});

		var params = READPARAMS();
		params.url && AJAX('GET /api/download/', { url: params.url }, function(response) {
			if (response) {
				SET('browser.filename', params.url);
				EXEC('browser/parse', response);
			}
		});

	</script>

	<script async src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>

</body>
</html>